.layout-menu-button.layout-topbar-button {
    @media screen and (max-width: 991px) {
        margin-left: initial !important;
    }
}

a[href="/login"]{
    color: #ff0000 !important;
}

.viewButton{
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    border: 0;
}

.viewButton:hover{
    background-color: #449d44;
    color: #fff;
}

.viewButton:active{
    transform: scale(0.95);
}

.editButton{
    background-color: #136d88;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    border: 0;
}

.editButton:hover{
    background-color: #0a3c4d;
    color: #fff;
}

.editButton:active{
    transform: scale(0.95);
}

.deleteButton{
    background-color: #d9534f;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    border: 0;
}

.deleteButton:hover{
    background-color: #a94442;
    color: #fff;
}

.deleteButton:active{
    transform: scale(0.95);
}


.copyButton{
    background-color: #5bc0de;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    border: 0;
}

.copyButton:hover{
    background-color: #31b0d5;
    color: #fff;
}

.copyButton:active{
    transform: scale(0.95);
}

/*RESET THE SIZE OF THE CUSTOM FILE UPLOAD*/
.p-fluid .p-fileupload .p-button {
    width: 3rem !important;
}
